{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon Blog !{% endblock %}

{% block stylesheets %}
    <style>
        h3, h4{
            color: #666;
        }
    </style>

{% endblock %}

{% block header %}
    <header>
        <h1>Mon Blog</h1>
    </header>
{% endblock %}

{% block body %}
    <div>
        <h1>{{ article.title }}</h1>
        <h3>{{ article.description }}</h3>
        <h4>{{ article.author }} | {{ article.date|date('d/m/Y') }}</h4>
    </div>
    {% for commentary in article.commentaries %}
        <hr>
        <div>
            <h3>{{ commentary.author }}</h3>
            <p>{{ commentary.content }}</p>
            <h4>{{ commentary.date|date('d/m/Y') }}</h4>
        </div>
    {% endfor %}

    <hr>
    <a href="{{ path('app_accueil') }}">Retour à la liste des articles</a>
{% endblock %}
