{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon Blog !{% endblock %}

{% block stylesheets %}
    <style>
        h3, h4{
            color: #666;
        }
    </style>

{% endblock %}


{% block body %}
    <div>
        <h1>{{ article.title }}</h1>
        <h3>{{ article.description }}</h3>
        <h4>{{ article.author }} | {{ article.date|date('d/m/Y') }}</h4>
    </div>
    {% for commentary in article.commentaries %}
        <hr>
        <div>
            <h3>{{ commentary.author }}</h3>
            <p>{{ commentary.content }}</p>
            <h4>{{ commentary.date|date('d/m/Y') }}</h4>
        </div>
    {% endfor %}

    <hr>
    <a href="{{ path('app_accueil') }}">Retour à la liste des articles</a>

    {% set username = app.user.email|split('@')[0] %}
    {% if is_granted('ROLE_ADMIN') or article.author == username %}
        <a href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier l'article</a>
        <a href="{{ path('app_article_delete', {'id': article.id}) }}">Supprimer l'article</a>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        <h2>Ajouter un nouveau commentaire :</h2>
        <form action="/ajouter_commentary" method="post">
            <input type="hidden" name="article_id" value="{{ article.id }}">
            <textarea name="content" placeholder="Contenu du commentaire" required></textarea><br>
            <input type="submit" value="Ajouter le commentaire">
        </form>
    {% else %}
        <p>Veuillez vous connecter pour ajouter un nouveau commentaire.</p>
        <a href="/login">Se connecter</a>
    {% endif %}
{% endblock %}
