{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon Blog !{% endblock %}

{% block stylesheets %}
    <style>
        h3, h4{
            color: #666;
        }
    </style>

{% endblock %}

{% block body %}
    {% for article in articles %}
        <a href="/article/{{ article.id }}">
            <h1>{{ article.title }}</h1>
            <h3>{{ article.description }}</h3>
            <h4>{{ article.author }} | {{ article.date|date('d/m/Y') }}</h4>
        </a>
        <hr>
    {% endfor %}

    {% if is_granted('ROLE_USER') %}
        <h2>Ajouter un nouvel article :</h2>
        <form action="/ajouter_article" method="post">
            <input type="text" name="title" placeholder="Titre de l'article" required><br>
            <textarea name="content" placeholder="Contenu de l'article" required></textarea><br>
            <input type="submit" value="Ajouter l'article">
        </form>
    {% else %}
        <p>Veuillez vous connecter pour ajouter un nouvel article.</p>
        <a href="/login">Se connecter</a>
    {% endif %}
{% endblock %}
